@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: "Montserrat", sans-serif; */
body{
    font-family: "Roboto", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3c2849;
}

.container{
    display: flex;
    width: 1200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    margin: 40px;
    border: 10px dotted rgb(140, 202, 5);
}

.card{
    position: relative;
    width: 320px;
    height: 450px;
    border-radius: 20px;
    margin: 30px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 #fff, 
                inset 0 -15px 0 rgba(255,255,255, 0.3), 0 45px 0 rgba(255,255,255, 0.15);
    background: #287bdd;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    animation: turn 3s ease-in-out 1 forwards;
}

@keyframes turn {
    form{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);

    }
}

.card::before{
    content: '';
    position: absolute;
    top: -30%;
    left: -40%;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg ,transparent, rgba(255,255,255,0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}

.card:nth-child(1){
    background: linear-gradient(to bottom ,#f4250e, #3532c5);
}

.card:nth-child(2){
    background: linear-gradient(to bottom ,#383016, #80138f);
}

.card:nth-child(3){
    background: linear-gradient(to bottom ,#3b05b9, #d59b08);
}

.icon{
    position: relative;
    width: 140px;
    height: 120px;
    background: #3c2849;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 10px 0 rgba(0,0,0,0.1), 
                inset 0 -8px 0 #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
   
}

.icon::before{
    content: '';
    position: absolute;
    left: -50px;
    top: 0;
    width: 50px;
    height: 50px;
    background: #f4250e;
    border-top-right-radius: 50px;
    box-shadow:15px -15px 0 15px #3c2849;
    background: transparent;
}

.icon::after{
    content: '';
    position: absolute;
    right: -50px;
    top: 0;
    width: 50px;
    height: 50px;
    background: #f4250e;
    border-top-left-radius: 50px;
    box-shadow:-15px -15px 0 15px #3c2849;
    background: transparent;
}

.icon ion-icon{
    color: #fff;
    position: relative;
    font-size: 6em;
    z-index: 1000;
    --ionicon-stroke-width: 24px;
    animation: rotate 15s 2s linear infinite;

}

@keyframes rotate{
    from{
        transform: rotate(-360deg);
        color:#15c14b;
    }

    to{
        transform: rotate(0deg);
        color: #f4250e;
    }
}

.content{
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 140px;
    text-align: center;
}

.content h2{
    font-family: cursive;
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    background: linear-gradient(to left , #15c14b ,#d59b08);
    border-radius: 50px;
    text-align: center;
    animation: bounce 4s 2.2s ease-in-out 1 both,
               headTurn 3s 3s ease-in-out 1 both ;
}

@keyframes headTurn{
    from{
        transform: ;
    }

    to{

    }
}

@keyframes bounce{
    from{
        transform: translateY(-240px);
        opacity: 0.3;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
        background: linear-gradient(to right, #700441, #dfae0d);
    }
}


.content p{
    color:#e1d5e9;
    line-height: 1.5em;
    font-size: 1.1em;
    animation: slide 3s 2.1s ease-in-out 1 reverse;
}

@keyframes slide{
    form{
        background-color: #081885;
    }

    to{
        background-color: #0b9c1e;
        border-radius: 50%;
        transform: translateX(300px);
    }
}